<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">
       <i class="fas fa-baby-carriage"></i>
       <strong>　Baby Info　</strong>
       <i class="fas fa-grin-stars"></i></h1>
  </div>
</div>